<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SIGES | ADMIN</title>
    <link rel="icon" href="../../static/img/logo.img" />

    <!-- Custom fonts for this template -->
    {% load static %}
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <style>
      body {
        overflow-y: scroll;
        position: relative;
      }
    </style>
  </head>

  <body id="page-top" data-bs-spy="scroll" data-bs-target="navbar-example2">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <div class="sidebar-brand-icon">
            <img src="../../static/img/logo.png" width="70" />
          </div>
          <div class="sidebar-brand-text mx-2">SIGES</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Empresas</div>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Emperesas disponibles</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Estado de solicitud</div>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Seguimiento</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"><i class="fa fa-bars"></i></button>

            <!-- Topbar Search -->

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.username }}</span>
                  <img class="img-profile rounded-circle" src="https://cdn-icons-png.flaticon.com/128/3135/3135768.png" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Perfil
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cerrar Sesión
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid" data-bs-spy="scroll" data-bs-target="navbar-example2">
            <!-- Page Heading -->
            <div class="text-center">
                <h1 class="h3 mb-4 text-gray-800">SOY ADMINISTRADOR</h1>
                <a type="button" class="btn btn-success" href="{% url 'crearEstudiante' %}">Crear Estudiante</a>
            </div>
            <hr>

            <h1 class="h3 mb-4 text-gray-800">Lista de Estudiante</h1>
            
            <div class="input-group mb-3">
              <form method="GET" action="">
                <input class="form-control-lg" type="text" name="q" placeholder="Buscar..." aria-label="Buscar..." aria-describedby="button-addon2" id="busqueda" value="{{ request.GET.q }}">
                <button class="btn-lg btn-primary" type="submit" value="Buscar">Buscar</button>
            </form>
            </div>  




            <br>
            <div class="container">
                <div class="card-body">
                    <h4 class="card-title">Estudiantes</h4>
                   
                    <div class="table-responsive">
                        <table class="table" id="estudiantes_datos">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Sexo</th>
                                    <th scope="col">Genero</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Fecha de Nacimiento</th>
                                    <th scope="col">Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for Estudiante in Estudiantes %}
                                <tr>
                                   <td>{{Estudiante.id}}</td>
                                    <td>{{Estudiante.first_name}}</td>
                                    <td>{{Estudiante.last_name}}</td>
                                    <td>{{Estudiante.username}}</td>
                                    <td>{{Estudiante.email}}</td>
                                    <td>{{Estudiante.sexo}}</td>
                                    <td>{{Estudiante.genero}}</td>
                                    <td>{{Estudiante.telefono}}</td>
                                    <td>{{Estudiante.nacimiento}}</td>
                                    <td>
                                        <div class="btn-group btn-group-horizontal" role="group">
                                            <a  type="button" class="btn btn-primary" href="{% url 'editarEstudiante' Estudiante.id %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a type="button" onclick="confirmDelete(event, '{% url 'eliminarEstudiante' Estudiante.id %}')" class="btn btn-danger">
                                                <i class="fas fa-trash-alt" id="btnEliminar{{Estudiante.id}}" ></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                    <tfoot>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if Estudiantes.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ Estudiantes.previous_page_number }}" tabindex="-1">Anterior</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                                    </li>
                                {% endif %}

                                {% for i in Estudiantes.paginator.page_range %}
                                    {% if Estudiantes.number == i or Estudiantes.number == i|add:"-1" or Estudiantes.number == i|add:"1" %}
                                        <li class="page-item {% if Estudiantes.number == i %}active{% endif %}">
                                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if Estudiantes.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ Estudiantes.next_page_number }}">Siguiente</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Siguiente</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </tfoot>
                    
                </div>
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- End of Main Content -->
          <!-- Footer -->
          
        </div>
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; SIGES {% now "Y" %}</span>
              </div>
            </div>
          </footer>
        <!-- End of Footer -->
      </div>
    </div>
    <!-- End of Content Wrapper -->

    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Estas seguro de Cerrar Sesion?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">Para Cerrar Sesion da clic en el boton Cerrar Sesion</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-danger" href="{%url 'logout' %}">Cerrar Sesion</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    
  </body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/indexAdmin.js'%}"></script>
</html>
